<div class="node">
    <p>Observables are a fundamental concept especially in libraries such as RxJS for handling asynchronous tasks and
        events. Here are some keywords and concepts associated with Observables:</p>
    <pre><code class="" [highlight]="observable"></code></pre>
    <div class="keyword"><strong>Observable:</strong>
        <p> A representation of any set of values defined over time.</p>
    </div>
    <div class="keyword"><strong>Observer:</strong>
        <p> An interface for a consumer of an Observable that receives values.</p>
    </div>
    <div class="keyword"><strong>Subscription:</strong>
        <p> Represents the execution of an Observable.</p>
    </div>
    <div class="keyword"><strong>Operators:</strong>
        <p> Functions that build on the observables foundation to enable sophisticated manipulation of collections.</p>
    </div>
    <div class="keyword"><strong>Subject:</strong>
        <p> A special type of Observable that allows values to be multicasted to many Observers.</p>
    </div>
    <div class="keyword"><strong>Scheduler:</strong>
        <p> A central dispatcher for scheduling tasks, allowing control when execution happens.</p>
    </div>
    <div class="keyword"><strong>Hot Observable:</strong>
        <p> An Observable that begins emitting items as soon as it is created.</p>
    </div>
    <div class="keyword"><strong>Cold Observable:</strong>
        <p> An Observable that begins emitting items when it is subscribed to.</p>
    </div>
    <div class="keyword"><strong>next:</strong>
        <p> A method of the Observer interface, called to deliver the next value from the Observable.</p>
    </div>
    <div class="keyword"><strong>error:</strong>
        <p> A method of the Observer interface, called to deliver an error notification from the Observable.</p>
    </div>
    <div class="keyword"><strong>complete:</strong>
        <p> A method of the Observer interface, called to deliver a complete notification from the Observable.</p>
    </div>
    <div class="keyword"><strong>create:</strong>
        <p> A method used to create a new Observable.</p>
    </div>
    <div class="keyword"><strong>pipe:</strong>
        <p> A method used to compose Operators together.</p>
    </div>
</div>
