.message {
    color: #fff;
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

textarea {
    width: 800px;
    height: 420px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #ccc;
    margin-bottom: 10px;
}
