<p class="message">{{ message.text }}, {{ message.timestamp }}</p>
<pre><code class="language-html" [highlight]="code"></code></pre>

<p>
    In Angular, ChangeDetectionStrategy is a concept that determines how and when
    Angular checks for changes in component data and updates the view accordingly.
    There are two main change detection strategies: Default and OnPush.
</p>

<h3>Default Change Detection Strategy:</h3>
<p>
    This is the default behavior of Angular's change detection. In this strategy,
    Angular automatically checks for changes in component data during various
    events like user interactions, HTTP requests, timers, etc. Any change in the
    component's data will trigger a re-evaluation of the template and update the
    view accordingly.
</p>

<h3>OnPush Change Detection Strategy:</h3>
<p>
    With the OnPush strategy, Angular only checks for changes if the component's
    input properties (@Input) change, or if an event bound with @Output emits an
    event. This can lead to significant performance improvements, especially in
    applications with complex component trees or heavy rendering.
</p>

<p>
    Using the <strong>OnPush</strong> strategy <strong>requires careful management of
        component state</strong> to ensure that changes are propagated correctly. It's
    effective when the component's data doesn't change frequently and can lead to
    better performance due to fewer change detection checks.
</p>

<p>
    In addition to these strategies, you can also create custom change detection
    strategies if needed. The choice of strategy depends on the specific
    requirements of your application and the nature of your components' data and
    interactions.
</p>
